.intro-doctor {
    display: flex;
    

    .intro-left {
        width: 10%;
        .doctor-img {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
   
    .intro-right {
        width: 90%;
        padding-left: 20px;

        .doctor-name {
            span {
                font-size: 28px;
                font-weight: bold;
                color: #333;
            }
        }

        .description {
            font-size: 13px;
            color: #555;
        }

    }
}
